/* @media only screen and (max-width:800px){
    #table1 tbody,
    #table1 tr, 
    #table1 td{
        display: block; 
    }
    #table1 thead tr{
        position: absolute; 
        top: -9999px;
        left: -9999px; 
    }
    #table1 td{
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #ccc;
    }  
    #table1 td:before{
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #table1 tr{
        border-bottom: 1px solid #ccc;
    }
} */
.transaction-card{
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(163, 246, 171);
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(237, 249, 237);
}
.transaction-card:hover{
          box-shadow: 0 0  22px rgb(178, 248, 154);
          transition: 0.6s;
          box-shadow:7px 7px 12px rgb(240, 253, 239);
          border: 1px solid rgb(238, 231, 231);
          /* transform: scale(0.9); */
}
.img1{
    justify-content: left;
}
.card-title{
    text-align: center;
}
.card-title1{
    text-align: right;
    color:rgb(6, 108, 6);
}

/* .btn {
    width: 180px;
    display: inline-block;
    margin: 5% 20px;
    padding: 20px 0px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
    background: linear-gradient(-45deg, blue, red);
    border-radius: 30px;
}  */

/* #card-title2{
    text-align: right;
} */

/* #card2{
    display: flex;
    align-items: center;
    justify-content: center;
} */
